{% block body %}
        {% for reponse in reponses %}
            <div>
                <input type="radio" id="{{ reponse.idreponse }}" name="question_{{ reponse.getIdquestion().getNumquestion()}}" value="{{ reponse.idreponse }}">
                <label for="{{ reponse.idreponse }}">{{ reponse.libelle }}</label>
            </div>
        {% else %}

        {% endfor %}


{% endblock %}
