{% extends 'base.html.twig' %}

{% block title %}Reponse{% endblock %}

{% block body %}
    <h1>Reponse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idreponse</th>
                <td>{{ reponse.idreponse }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ reponse.libelle }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ reponse.valeur ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reponse_index') }}">back to list</a>

    <a href="{{ path('reponse_edit', {'idreponse': reponse.idreponse}) }}">edit</a>

    {{ include('reponse/_delete_form.html.twig') }}
{% endblock %}
