{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Reviquiz{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <div class="jumbotron text-center">
        <h1>Reviquiz</h1>
        <p> Bienvenue sur notre site de révision</p>
    </div>
</div>
{% endblock %}
