{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
<div id="app">
    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.nom) }}
            {{ form_row(registrationForm.prenom) }}
                {{ form_row(registrationForm.login) }}
                    {{ form_row(registrationForm.idClasse) }}                    
      {{ form_row(registrationForm.idetablissement) }} 
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
      

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
    {% block javascripts %}{{ encore_entry_script_tags('register') }}{% endblock %}
{% endblock %}
