{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <form method="post" action="verificationQuiz">
    <h1>Liste des questions</h1>
    <div align = "right">
        <h2>Temps restant : 5 min 00 sec    </h2>
    </div>
    </br>
    <table class="table">
        <thead>
            <tr>
                <th>Numéro de la question</th>
                <th>Libellé de la question</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for question in questions %}
            <input id="idquestionnaire" name="idquestionnaire" value="{{ question.getIdquestionnaire().getIdquestionnaire() }}" type="hidden">
            <tr>
                <td>{{ question.numquestion }}</td>
                <td>{{ question.libellequestion }}</td>
                <td>
                    {{ render(controller(
                        'App\\Controller\\ReponseController::index',
                        { 'id': question.idquestion }
                    )) }}
                    <!--<a href="{{ path('question_show', {'id': question.idquestion}) }}">Voir la question</a>-->
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="4">Pas de questions</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </br>
    <div align = "center">
        <button type="submit" name="submit"> Valider le quiz </button>
    </form>
    <button type="button" name="test"> Retour aux quiz </button>
    </div>
    </br>

{% endblock %}
