{% extends 'base.html.twig' %}

{% block title %}Question resultats{% endblock %}

{% block body %}


    <div align="center">
        <h1>Vos résultats</h1>
        <br>
        <label>Nombre de réponses données : {{ count }} / {{ nbquestiontotale }}  </label>
        <br>
        <label>Vous avez répondu bon à  {{ nbbonnesreponses }} questions sur {{ count }} </label>
        <br>
        <a href="{{ path('questionnaire_index') }}">Retour à la liste Quiz</a>
    </div>
{% endblock %}
