{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
    <h1>Liste des questions</h1>
    {{ question.libelle }}
                {{ render(controller(
                    'App\\Controller\\ReponseController::index',
                    { 'id': question.idquestion }
                )) }}

    <button type="submit"> Valider la réponse </button>
        {% else %}

        {% endfor %}


{% endblock %}
