{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Mon Profile</h1>
    <div align = "center">
        <a href="{{ path('historiqueqcm_index') }}">Voir mon historique</a>

    </div>
    <br>
    <table class="table">
        <tbody>
        <tr>
            <th>Login</th>
            <td>{{ user.login }}</td>
        </tr>
        <tr>
            <th>Classe</th>
            <td>{{ user.idClasse }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.nom }}</td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td>{{ user.prenom }}</td>
        </tr>
{#        <tr>
            <th>Matiere</th>
            <td>{{ user.matiere }}</td>
        </tr>#}
        </tbody>
    </table>

<br>
    <div align = "center">
        <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
    </div>
</br>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}