<form method="post" action="{{ path('historiqueqcm_delete', {'idhisto': historiqueqcm.idhisto}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ historiqueqcm.idhisto) }}">
    <button class="btn">Delete</button>
</form>
