{% extends 'base.html.twig' %}

{% block title %}Edit Historiqueqcm{% endblock %}

{% block body %}
    <h1>Edit Historiqueqcm</h1>

    {{ include('historiqueqcm/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('historiqueqcm_index') }}">back to list</a>

    {{ include('historiqueqcm/_delete_form.html.twig') }}
{% endblock %}
