{% extends 'base.html.twig' %}

{% block title %}Historiqueqcm index{% endblock %}

{% block body %}
    <h1>Mon historique</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle du quiz</th>
                <th>Date</th>
                <th>Resultat</th>
{#                <th>actions</th>#}
            </tr>
        </thead>
        <tbody>
        {% for historiqueqcm in historiqueqcms %}
            <tr>
                <td>{{ historiqueqcm.getIdquestionnaire().getLibelle() }}</td>
                {#                <td>{{ questionnaire.libelle }}</td>#}
                <td>{{ historiqueqcm.date ? historiqueqcm.date|date('Y-m-d') : '' }}</td>
                <td>{{ historiqueqcm.resultat }} / {{   historiqueqcm.getIdquestionnaire().getNbquestions()}}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div align = "center">
        <a href="{{ path('profil_show') }}">Retour au profil</a>
    </div>
{% endblock %}
