{% extends 'base.html.twig' %}

{% block title %}New Historiqueqcm{% endblock %}

{% block body %}
    <h1>Create new Historiqueqcm</h1>

    {{ include('historiqueqcm/_form.html.twig') }}

    <a href="{{ path('historiqueqcm_index') }}">back to list</a>
{% endblock %}
