{% extends 'base.html.twig' %}

{% block title %}Historiqueqcm{% endblock %}

{% block body %}
    <h1>Historiqueqcm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idhisto</th>
                <td>{{ historiqueqcm.idhisto }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ historiqueqcm.date ? historiqueqcm.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ historiqueqcm.resultat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('historiqueqcm_index') }}">back to list</a>

    <a href="{{ path('historiqueqcm_edit', {'idhisto': historiqueqcm.idhisto}) }}">edit</a>

    {{ include('historiqueqcm/_delete_form.html.twig') }}
{% endblock %}
