{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Login</th>
                <th>Classe</th>
                <th>Email</th>
                <th>Nom</th>
                <th>Prenom</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.login }}</td>
                <td>{{ user.idClasse }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>

                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Parcourir</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>

    <div id="app">
        ${ message }
    </div>

    {% block javascripts %}{{ encore_entry_script_tags('User') }}{% endblock %}

{% endblock %}
