{% extends 'base.html.twig' %}

{% block title %}User profile{% endblock %}

{% block body %}
    <h1>Profile User</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Login</th>
            <th>Classe</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
        </tr>
        </thead>
        <tbody>
        {% for user in role %}
            <tr>
                <td>{{ user.login }}</td>
                <td>{{ user.idclasse }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('user_show', {'role': user.role}) }}">show</a>
                </td>
            </tr>

{% endblock %}
