{% extends 'base.html.twig' %}

{% block title %}Questionnaire index{% endblock %}

{% block body %}
    <h1>Questionnaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Nbquestions</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for questionnaire in questionnaires %}
            <tr>
                <td>{{ questionnaire.libelle }}</td>
                <td>{{ questionnaire.nbquestions }}</td>
                <td>
                    <a href="{{ path('question_index', {'id': questionnaire.idquestionnaire}) }}"> Faire le questionnaire </a>
                    <!--<a href="{{ path('question_index', {'id': questionnaire.idquestionnaire}) }}">Voir les questions</a> -->
                    <!--<a href="{{ path('question_show', {'id': questionnaire.idquestionnaire}) }}">Faire le quiz</a> -->
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
