{% extends 'base.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
    <h1>Questionnaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idquestionnaire</th>
                <td>{{ questionnaire.idquestionnaire }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ questionnaire.libelle }}</td>
            </tr>
            <tr>
                <th>Nbquestions</th>
                <td>{{ questionnaire.nbquestions }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('questionnaire_index') }}">back to list</a>

    <a href="{{ path('questionnaire_edit', {'idquestionnaire': questionnaire.idquestionnaire}) }}">edit</a>

    {{ include('questionnaire/_delete_form.html.twig') }}
{% endblock %}
